[submodule "opensbi"]
	path = opensbi
	url = git@github.com:prevotet/opensbi.git
[submodule "bao-hypervisor"]
	path = bao-hypervisor
	url = git@github.com:prevotet/bao-hypervisor.git
[submodule "cva6"]
	path = cva6
	url = git@github.com:prevotet/cva6.git
	branch = jc_dev
[submodule "linux"]
	path = linux
	url = git@github.com:prevotet/linux.git
[submodule "armor"]
	path = armor
	url = https://git.renater.fr/anonscm/git/anr-trustgw/armor.git
